body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

span {
    color: #fff;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    font-size: 3em;
}

@keyframes typing {
    from { width: 0px; }
}

@keyframes blink {
    50% { border-color: transparent; }
}